{% extends 'layout.html' %}
{% load static %}
{% block body %}
<body style="background-color:#2a628d">
<div class="container-fluid mt-5">
    <div class="row justify-content-center"> <br>
        <div style="background-color:#948c0a;" class="col-5 p-3">
            <h2>Please create your Salama Millers customer account here.</h2>
            <br>
            <form action="/signup" method="post">
                {% csrf_token %}
{#                {{ form.as_p }}#}
                <div class="form-group">
                    <label><h3>Your Username</h3></label>
                    <input type="text" class="form-control" placeholder="Enter your username" name="username" required>
                </div>
                <br>
                <div class="form-group">
                    <label><h3>Your Password</h3></label>
                    <input type="password" class="form-control  mt-2" placeholder="Enter your password" name="password" required>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-2" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

{% endblock %}
